extends _layout/_layout

block main-content
  .main-content(data-main)
    .slide-banner
      #slide-banner
        .item
          .img
            img(src="images/banner-1.jpg", alt="")
        .item
          .img
            img(src="images/banner-2.jpg", alt="")
        .item
          .img
            img(src="images/banner-3.jpg", alt="")
    .typography
      .container
        h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        h2 Est cum aut consequatur mollitia ducimus modi sequi ipsum?
        h3 Neque necessitatibus esse id minus nam placeat cum corporis natus.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, et deleniti quasi quidem quos neque animi quisquam repellat.
        p Ut obcaecati officia atque sunt pariatur delectus molestias unde aliquid libero tenetur.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo beatae sunt sit blanditiis animi eius similique,
        p Ad tempore totam distinctio qui autem, libero ea aliquid quod, voluptatum quae consectetur quis.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, et deleniti quasi quidem quos neque animi quisquam repellat.
        p Ut obcaecati officia atque sunt pariatur delectus molestias unde aliquid libero tenetur.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo beatae sunt sit blanditiis animi eius similique,
        p Ad tempore totam distinctio qui autem, libero ea aliquid quod, voluptatum quae consectetur quis.
        ul
          li Lorem ipsum dolor sit amet consectetur adipisicing elit.
          li Quo beatae sunt sit blanditiis animi eius similique,
          li Est cum aut consequatur mollitia ducimus modi sequi ipsum?
          li Neque necessitatibus esse id minus
          li Ex, et deleniti quasi quidem quos neque animi quisquam repellat.
        ol
          li Lorem ipsum dolor sit amet consectetur adipisicing elit.
          li Quo beatae sunt sit blanditiis animi eius similique,
          li Est cum aut consequatur mollitia ducimus modi sequi ipsum?
          li Neque necessitatibus esse id minus
          li Ex, et deleniti quasi quidem quos neque animi quisquam repellat.