extends _layout/_layout

block main-content
  .main-content(data-main)
    .container
      .banner.mb-20
        +img(src="images/banner-1.jpg", alt="")
      .mb-20.pt-10
        h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        h2 Est cum aut consequatur mollitia ducimus modi sequi ipsum?
        h3 Neque necessitatibus esse id minus nam placeat cum corporis natus.
      .mb-20.pt-10
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, et deleniti quasi quidem quos neque animi quisquam repellat.
        p Ut obcaecati officia atque sunt pariatur delectus molestias unde aliquid libero tenetur.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo beatae sunt sit blanditiis animi eius similique,
      .row.d-flex.justify-content-center.mb-20.pt-10
        .col-12.col-lg-6.order-2
          +list([
            { text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.' },
            { text: 'Quo beatae sunt sit blanditiis animi eius similique,' },
            { text: 'Est cum aut consequatur mollitia ducimus modi sequi ipsum?' },
            { text: 'Neque necessitatibus esse id minus' },
            { text: 'Ex, et deleniti quasi quidem quos neque animi quisquam repellat.' },
          ])
        .col-12.col-lg-6.order-1
          +list([
            { text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.' },
            { text: 'Quo beatae sunt sit blanditiis animi eius similique,' },
            { text: 'Est cum aut consequatur mollitia ducimus modi sequi ipsum?' },
            { text: 'Neque necessitatibus esse id minus' },
            { text: 'Ex, et deleniti quasi quidem quos neque animi quisquam repellat.' },
          ])
      table(data-table).mb-20.pt-10
        thead
          th Avatar
          th Gender
          th Name
          th Address
          th Number
          th Email