footer.footer
  .footer__menubot
    .container
      ul
        li
          a(href="index.html") Home
        li
          a(href="index.html") About
        li
          a(href="index.html") News
        li
          a(href="index.html") Recruit
        li
          a(href="index.html") Contact
  .footer__main
    .footer__copyright Copyright 2020
  