header.header(data-header)
  .container
    .header__main
      .header__logo
        a(href="index.html")
          img(src="images/logo.png", alt="logo")
      .header__tools
        .header__menu
          ul
            li.home
              a(href="index.html")
                span Home
            li
              a(href="index.html") About
            li
              a(href="index.html") News
            li
              a(href="index.html") Recruit
            li
              a(href="index.html") Contact