header.header(data-header)
  .container
    .header__main
      .header__logo
        +link("index.html", "logo")
          +img("images/logo.png", "logo")
      .header__tools
        .header__menu
          +list([
            { text: 'Home', title: 'home', href: '#' },
            { text: 'About', title: 'About', href: '#' },
            { text: 'Recruit', title: 'Recruit', href: '#' },
            { text: 'Contact', title: 'Contact', href: '#' },
          ])