.footer{
  &__menubot {
    background-color: $color-white-2;
    padding: rem(15) 0;

    ul {
      display: flex;
      align-items: center;
    }
    
    li {
      padding-right: rem(20);
      margin-right: rem(20);
      border-right: solid rem(1) $color-gray-1;

      &:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
      }
    }

    a {
      display: block;
      font-size: rem(16);
      line-height: rem(16);
    }
  }

  &__main {
    padding: rem(20) 0;
  }

  &__copyright {
    text-align: center;
    font-size: rem(12);
    line-height: rem(20);
    color: $color-gray-2;
  }
}