.header{
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(15) 0;
  }

  &__logo {
    max-width: rem(90);
  }

  &__tools {
    display: flex;
    align-items: center;
  }

  &__menu {
    ul {
      display: flex;
      align-items: center;
    }
    
    li {
      margin-right: rem(30);

      &::last-child {
        margin-right: 0;
      }

      &.home {
        span {
          padding-left: rem(30);
          position: relative;

          &::before {
            content: "\f015";
            @extend %font-icon;
            @extend %pll;
            font-size: rem(13);
          }
        }
      }
    }

    a {
      display: block;
      font-size: rem(16);
      line-height: rem(24);
      text-transform: uppercase;
    }
  }
}