.menumobile {
  $this: &;

  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  pointer-events: none;

  // ICON
  &__icon {
    width: rem(40);
    height: rem(40);
    position: relative;
    cursor: pointer;

    span,
    &::before,
    &::after {
      content: "";
      width: rem(30);
      height: rem(2);
      background-color: $color-black-2;
      position: absolute;
      left: rem(5);
      transition: transform .2s ease;
    }

    span {
      top: 50%;
    }

    &::before {
      top: rem(11);
    }

    &::after {
      top: rem(29);
    }

    // OPEN
    &.\--open {
      span {
        transform: translateX(-rem(5));
        opacity: 0;
      }

      &::before {
        top: rem(20);
        transform: rotate(-45deg);
      }

      &::after {
        top: rem(20);
        transform: rotate(45deg);
      }
    }
  }

  // OVERFLOW
  &__overflow {
    background-color: rgba($color-black-1, .35);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
  }

  // WRAPPER
  &__wrapper {
    width: 100%;
    max-width: rem(400);
    margin-left: rem(80);
    position: relative;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all .2s ease;
    z-index: 2;
  }

  // CONTAINER
  &__container {
    height: 100%;
    padding: rem(25) rem(15);
    background-color: $color-white-1;
    overflow: hidden;
    overflow-y: auto;
  }

  // NAVIGATION
  &__navigation {
    // LEVEL 1
    ul {
      position: relative;
    }

    li {
      position: relative;

      a {
        display: block;
        padding: rem(11) 0;
        font-size: rem(18);
        line-height: rem(28);
        text-transform: uppercase;
      }

      > span {
        width: rem(40);
        height: rem(40);
        background-color: $color-gray-1;
        position: absolute;
        top: rem(7);
        right: 0;
        cursor: pointer;
      }
    }

    // LEVEL 2
    ul ul {
      display: none;

      a {
        padding: rem(5) 0;
        padding-left: rem(15);
        font-size: rem(16);
        line-height: rem(24);
        text-transform: none;
      }
    }
  }

  // SEARCH
  &__search {
    width: 100%;
    margin-bottom: rem(20);
    position: relative;

    input {
      width: 100%;
      height: rem(40);
      border: solid rem(1) $color-gray-1;
      padding: rem(5) rem(15);
      padding-right: rem(40);
    }

    button {
      width: rem(40);
      height: rem(40);
      padding: 0;
      border: none;
      background: none;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  /******
  MODIFY
  ******/
  // OPEN
  &.\--open {
    pointer-events: auto;

    #{$this}__overflow {
      opacity: 1;
      visibility: visible;
    }

    #{$this}__wrapper {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }
}