footer.footer
  .footer__menubot
    .container
      +list([
        { text: 'Home', title: 'home', href: '#' },
        { text: 'About', title: 'About', href: '#' },
        { text: 'Recruit', title: 'Recruit', href: '#' },
        { text: 'Contact', title: 'Contact', href: '#' },
      ])
  .footer__main
    .footer__copyright Copyright 2020
  