.menumobile(data-menumobile)
  .menumobile__wrapper
    .menumobile__container
      .menumobile__search
        form(action="post")
          input(type="text" name="keywork" placeholder="Input your keywork")
          button(type="submit" name="ok")
      .menumobile__navigation(data-menumobile-navigation)
        +list([
          { text: 'Home', title: 'home', href: '#', childs: [
            { text: 'Menu level 1', title: 'Menu level 1', href: '#', childs: [
              { text: 'Menu level 2', title: 'Menu level 2', href: '#' },
              { text: 'Menu level 2', title: 'Menu level 2', href: '#' },
              { text: 'Menu level 2', title: 'Menu level 2', href: '#' },
              { text: 'Menu level 2', title: 'Menu level 2', href: '#' },
              { text: 'Menu level 2', title: 'Menu level 2', href: '#' },
            ] },
            { text: 'Menu level 1', title: 'Menu level 1', href: '#', childs: [
              { text: 'Menu level 2', title: 'Menu level 2', href: '#' },
              { text: 'Menu level 2', title: 'Menu level 2', href: '#' },
              { text: 'Menu level 2', title: 'Menu level 2', href: '#' },
              { text: 'Menu level 2', title: 'Menu level 2', href: '#' },
              { text: 'Menu level 2', title: 'Menu level 2', href: '#' },
            ] },
            { text: 'Menu level 1', title: 'Menu level 1', href: '#' },
          ] },
          { text: 'About', title: 'About', href: '#', childs: [
            { text: 'Menu level 1', title: 'Menu level 1', href: '#' },
            { text: 'Menu level 1', title: 'Menu level 1', href: '#' },
            { text: 'Menu level 1', title: 'Menu level 1', href: '#' },
          ] },
          { text: 'Recruit', title: 'Recruit', href: '#', childs: [
            { text: 'Menu level 1', title: 'Menu level 1', href: '#' },
            { text: 'Menu level 1', title: 'Menu level 1', href: '#' },
            { text: 'Menu level 1', title: 'Menu level 1', href: '#' },
          ] },
          { text: 'Contact', title: 'Contact', href: '#' },
        ])
  .menumobile__overflow(data-menumobile-overflow)
