.cmp-btn {
  display: inline-block;
  min-width: rem(270);
  padding: rem(16);
  font-size: rem(16);
  line-height: rem(20);
  font-weight: 600;
  text-align: center;
  background-color: $color-white-2;
  border: solid rem(1) $color-white-2;

  @include mq(lg) {
    padding: rem(12) rem(16);
  }
  
  &:hover {
    background-color: $color-gray-2;
    border-color: $color-gray-2;
  }

  &:disabled {
    pointer-events: none;
  }

  span {
    display: inline-block;
  }

  /**********************/
  /*      MODIFY        */
  /**********************/
  // BLOCK
  &.\--block {
    display: block;
    width: 100%;
  }

  // PRIMARY
  &.\--primary {
    color: $color-black-2;
    background-color: $color-blue-1;
    border-color: $color-blue-1;
    
    &:hover {
      color: $color-white-1;
      background-color: $color-black-2;
      border-color: $color-white-1;

      span {
        &::before {
          background-color: $color-white-2;
        }
      }
    }

    span {
      &::before {
        background-color: $color-black-2;
      }
    }
  }

  // SECONDARY
  &.\--secondary {
    color: $color-white-1;
    background-color: $color-black-2;
    border-color: $color-black-2;

    &:hover {
      color: $color-black-2;
      background-color: transparent;

      span {
        &::before {
          background-color: $color-black-2;
        }
      }
    }

    span {
      &::before {
        background-color: $color-white-1;
      }
    }
  }

  // OUTLINE
  &.\--outline {
    color: $color-black-2;
    background-color: transparent;
    border-color: $color-blue-1;
    
    &:hover {
      background-color: $color-blue-1;
    }

    span {
      &::before {
        background-color: $color-black-2;
      }
    }
  }

  // ICON
  &.\--icon {
    span {
      padding-right: rem(24);
      position: relative;

      &::before {
        content: "";
        width: rem(20);
        height: rem(20);
        mask-repeat: no-repeat;
        mask-position: center;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
  
  &.\--icon-caret {
    span {
      &::before {
        mask-image: $icon-caret-down;
      }
    }
  }

  &.\--icon-angle {
    span {
      &::before {
        mask-image: $icon-angle-down;
      }
    }
  }
}