.cmp-accordion {
  @include mq(lg) {
    margin-top: rem(40);
  }

  // ACCORDION
  &__accordion {
    display: block;

    &:not(:last-child) {
      margin-bottom: rem(12);
      padding-bottom: rem(12);
      border-bottom: solid rem(1) $color-black-2;
    }
  }

  // TOGGLE
  &__toggle {
    padding: rem(10) rem(20);
    font-size: rem(16);
    line-height: rem(24);
    font-weight: 600;
    background-color: $color-gray-2;
    cursor: pointer;
    position: relative;

    @include mq(lg) {
      font-size: rem(16);
    }

    &::before {
      content: "";
      width: rem(20);
      height: rem(20);
      background-color: $color-black-1;
      mask: $icon-caret-down no-repeat center;
      position: absolute;
      top: rem(12);
      right: rem(12);
    }
  }

  // DROPDOWN
  &__dropdown {
    display: none;
  }

  // WRAP
  &__wrap {
    padding: rem(20) 0;
  }
}
