$color-white-1: #ffffff;
$color-white-2: #f5f5f5;

$color-gray-1: #bbbbbb;
$color-gray-2: #aaaaaa;

$color-black-1: #000000;
$color-black-2: #333333;

$color-blue-1: #00d3ee;

$color-shadow-blue: rgba(0,211,238,.28);
$color-shadow-black: rgba(0,0,0,.12);
